<div class="container mt-5">
    <div style="text-align: center;">
        @if (!registerMode){
            <h1>OnlyLoves</h1>
            <p class = "lead">Join in to discover and share what you love! All you need to do is sign up!</p>
            <div class="text-center">
                <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
                <button class="btn btn-info btn-lg me-2">Learn more</button>
            </div>
        } @else {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                    </div>
                </div>
            </div>
        }     
    </div>
</div>