<div class="row">
    <div class="text-center">
        <h2>Your matches - {{memberService.paginatedResult()?.pagination?.totalItems}}</h2>
    </div>

    <div class="container">
        <form #form="ngForm" class="filter-form" (ngSubmit)="loadMembers()">
            <div class="d-flex align-items-end gap-2">
                <div class="form-group">
                    <label class="form-label">Age from:</label>
                    <input type="number" 
                        class="form-control" 
                        name="minAge" 
                        [(ngModel)]="memberService.userParams().minAge" />
                </div>
                <div class="form-group">
                    <label class="form-label">Age to:</label>
                    <input type="number" 
                        class="form-control" 
                        name="maxAge" 
                        [(ngModel)]="memberService.userParams().maxAge" />
                </div>
                <div class="form-group">
                    <label class="form-label">Show:</label>
                    <select class="form-select" 
                        name="gender" 
                        [(ngModel)]="memberService.userParams().gender">
                        <option *ngFor="let gender of genderList" [value]="gender.value">
                            {{gender.display}}
                        </option>
                    </select>
                </div>
                <div class="form-group d-flex gap-2">
                    <button class="btn btn-primary" type="submit">Apply</button>
                    <button (click)="resetFilters()" class="btn btn-secondary" type="button">Reset</button>
                </div>
            </div>
            <div class="order-buttons">
                <div class="btn-group">
                    <button 
                        type="button" class="btn btn-primary" name="orderBy" 
                        (click)="loadMembers()" btnRadio="lastActive" 
                        [(ngModel)]="memberService.userParams().orderBy">Last Active</button>
                    <button 
                        type="button" class="btn btn-primary" name="orderBy" 
                        (click)="loadMembers()" btnRadio="created" 
                        [(ngModel)]="memberService.userParams().orderBy">Created</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row g-4 mt-3">
        <div *ngFor="let member of memberService.paginatedResult()?.items" 
             class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div *ngIf="memberService.paginatedResult()?.pagination" class="d-flex justify-content-center mt-4">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"    
        [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
        (pageChanged)="pageChanged($event)"
        [(ngModel)]="memberService.paginatedResult()?.pagination!.currentPage"
        [maxSize]="10"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>