<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">OnlyLoves</a>
    
    <button class="navbar-toggler" type="button" (click)="toggleNav()" aria-controls="navbarNav" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [class.show]="!isCollapsed" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="accountService.currentUser()">
          <a routerLink="/members" routerLinkActive="active" class="nav-link" (click)="toggleNav()">Matches</a>
        </li>
        <li class="nav-item" *ngIf="accountService.currentUser()">
          <a routerLink="/lists" routerLinkActive="active" class="nav-link" (click)="toggleNav()">Lists</a>
        </li>
        <li class="nav-item" *ngIf="accountService.currentUser()">
          <a routerLink="/messages" routerLinkActive="active" class="nav-link" (click)="toggleNav()">Messages</a>
        </li>
      </ul>   
      
      <div *ngIf="accountService.currentUser()" dropdown class="dropdown">
        <div class="d-flex align-items-center">
          <img src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}" alt="user main image" class="rounded-circle me-2" style="width: 32px; height: 32px;">
          <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
            Welcome {{accountService.currentUser()?.knownAs}}
          </a>
        </div>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
          <a routerLink="/member/edit" class="dropdown-item" (click)="toggleNav()">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form *ngIf="!accountService.currentUser()" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex flex-column flex-lg-row gap-2">
        <input name="username" [(ngModel)]="model.username" class="form-control" placeholder="username">
        <input name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password" type="password">
        <button class="btn btn-outline-light" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>